:root {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
}

/* Add this CSS to change the width of the scrollbar */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Change the width to your desired value */
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-thumb {
  background-color: gainsboro; /* Change the color of the thumb */
  border-radius: 4px; /* Round the corners of the thumb */
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-thumb:hover {
  background-color: gainsboro; /* Change the color of the thumb on hover */
}
